body{
	background-color: rgb(0,0,255,.4);
}
/*.text{
	font-size: 40px;
}
.condition{
	
	font-color: rgb(0,255,0,.8);
	font-size: 40px; 
	background color: rgb(0,255,0, .8);
}
.temperature{
	font-size: 30px;
	color: rgb(255,0,0,.5);
}*/
